
@import '../../scss/mixin', '../../scss/variables';
.city-weather__container {
  border-radius: 10px;
  border: $border-grey;
  padding: 1.5rem 2rem;
  @include max-screen(640px) {
    padding: 1.5rem;
  }
}
.city-weather__top {
  @include flex($wrap: wrap, $align: center);
  margin-bottom: 3rem;
}