@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
@import './scss/mixin', './scss/reset', './scss/variables';
html {
  font-size: 62.5%;

  @include max-screen(1024px) {
    font-size: 56.5%;
  }

  @include max-screen(800px) {
    font-size: 50.5%;
  }

  @include max-screen(640px) {
    font-size: 44.5%;
  }

  @include max-screen(550px) {
    font-size: 41.5%;
  }

  @include max-screen(440px) {
    font-size: 37.5%;
  }

  @include max-screen(400px) {
    font-size: 35.5%;
  }
}
:-moz-placeholder {
  color: #180f29;
  transition: color 0.3s;
}
::-moz-placeholder {
  color: #180f29;
  transition: color 0.3s;
}
::-webkit-input-placeholder {
  color: #180f29;
  transition: color 0.3s;
}
:-ms-input-placeholder {
  color: #180f29;
  transition: color 0.3s;
}
::placeholder {
  color: #180f29;
  transition: color 0.3s;
}

:focus:-moz-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
:focus::placeholder {
  color: transparent;
}
body {
  font-family: $font-primary;
  font-size: $fos;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  min-width: 320px;
  margin: 0;
}
.wrapper {
  @include flex($dir: column);
  min-height: 100vh;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.main {
  flex: 1 0;
}
.footer {
  flex: 0 0;
}
.text_center {
  text-align: center;
}
.cards {
  @include flex($wrap: wrap, $align: flex-start);
}
.card-item {
  width: 20%;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 15px;
  @include max-screen(990px) {
    width: 50%;
  }
  @include max-screen(440px) {
    width: 100%;
  }
  @include min-screen(1024px) {
    &:hover {
      .card-item__content {
        box-shadow: 2px 3px 11px 0px rgba(0, 0, 0, 0.55);
      }
    }
  }
}
.card-item__content {
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  border: $border-grey1;
  padding: 10px;
  transform: translateZ(0);
  transition: box-shadow .3s;

}
.card-item__image {
  display: inline-block;
  max-width: 75px;
  max-height: 45px;
  margin-bottom: 10px;
}

.active {
  pointer-events: none;
}
.svg-icon {
	width: 1em;
	height: 1em;
	display: block;
	fill: currentColor;
}
.card-item__title {
  color: $grey;
  margin-bottom: 3rem;
}
.card-item__date {
  text-align: left;
  margin-bottom: 2rem;
  font-size: $fosSm;
}
.card-item__temp {
  font-size: $fosLg;
}