$font-primary: 'Open Sans',Arial, sans-serif;

$fos: 16px;
$fosSm: 14px;
$fosMd: 15px;
$fosLg: 20px;

$dark: #000;
$dark100: #180f29;

$white: #fff;

$grey: #6b6a6a;
$grey100: #ccc;
$grey400: #808080;

$blue: #2f89fc;

$border-blue: 2px solid $blue;
$border-grey: 2px solid $grey100;
$border-grey1: 1px solid $grey100;
$border-white: 2px solid $white;
$border-dark: 2px solid $dark;