$font-primary: 'Open Sans',Arial, sans-serif;

$dark: #000;
$dark100: #180f29;
$main_color: $dark;

$white: #fff;

$grey: #fafafa;
$grey100: #b3b3b3;
$grey400: #808080;

$blue: #2f89fc;

$fow300: 300;
$fow400: 400;
$fow700: 700;

$fos: 13px;
$fos14: 14px;
$fos16: 16px;
$fos20: 20px;
$fos22: 22px;
$fos30: 30px;
$fos32: 32px;
$fos34: 34px;
$fos40: 40px;

$rad-sm: 4px;
$rad-md: 30px;

$border-blue: 1px solid $blue;
$border-grey: 1px solid $grey100;
$border-white: 1px solid $white;
$border-dark: 1px solid $dark;