$font-primary: 'Open Sans',Arial, sans-serif;

$dark: #000;
$dark100: #180f29;
$main_color: $dark;

$white: #fff;

$grey: #fafafa;
$grey100: #b3b3b3;
$grey400: #808080;

$blue: #2f89fc;

$border-blue: 2px solid $blue;
$border-grey: 2px solid $grey100;
$border-white: 2px solid $white;
$border-dark: 2px solid $dark;